{% set targetCurrency = 'GBP' %}
{% set decimal = true %}
{% set symbol = true %}
<table border="1">
    <th>Original Amount</th>
    <th>Amount in GBP (£)</th>
    <th>transation Date</th>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.getCurrencySymbol() ~ order.getAmount()}}</td>
                <td>{{ order.getAmount() | currency_convert_format(targetCurrency, decimal, symbol, order.getCurrencyCode()) }}</td>
                <td>{{ order.getDate()|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
    <tfoot>
    <th>Original Amount</th>
    <th>Amount in GBP (£)</th>
    <th>transation Date</th>
</tfoot>
</tbody>
</table>
<a href="{{ path('merchant-list') }}">Back to merchants</a>